<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ulisboa.tecnico.cmov.ubibike" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.wifi.direct" />

    <application
        android:name=".GPSTrackingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddAFriend" />
        <activity android:name=".TakeMeToBike" />
        <activity android:name=".FriendProfile" />
        <activity android:name=".RoutingTime" />
        <activity android:name=".GivePointsActivity" />
        <activity android:name=".FriendsActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".BikesNeirby" />
        <activity android:name=".MyProfile" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".StationsActivity" />
        <activity android:name=".NewClient" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDEiigAJRmtgtDpHDolNWPYapGOyuzQGB4" />

        <activity
            android:name=".BikesStation"
            android:label="@string/title_activity_bikes_station2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MsgSenderActivity"
            android:label="@string/app_name" />

        <service android:name="pt.inesc.termite.wifidirect.service.SimWifiP2pService" />

        <activity android:name=".ShowRoutes" />
        <activity android:name=".ShowThatRoute" >
        </activity>
    </application>

</manifest>